# Import Python Libraries

In [7]:
# Python Libraries for Data Cleaning & Preprocessing
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy.stats import norm, skew, kurtosis

# Model Training and Evaluation
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

import warnings
warnings.filterwarnings('ignore')

# Data Ingestion

In [8]:
df = pd.read_csv('data/customerChurnModelling.csv')

In [13]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

# Split Dependant Variable and Independant Variables

In [9]:
X = df.drop(columns="CreditScore", axis=1)
X.shape

(10000, 17)

In [10]:
y = df["CreditScore"]
y.shape

(10000,)

# Categorical Encoding

In [11]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.compose import ColumnTransformer

# Columns to be one-hot encoded
oh_encoding_features = ["Geography", "Gender"]

# Columns to be ordinal encoded
ordinal_encoding_features = ["CardType"]

# Numeric features for StandardScaler
num_features = X.select_dtypes(exclude="object").columns

oh_transformer = OneHotEncoder()
ordinal_transformer = OrdinalEncoder()
numeric_transformer = StandardScaler()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, oh_encoding_features),
        ("OrdinalEncoder", ordinal_transformer, ordinal_encoding_features),
        ("StandardScaler", numeric_transformer, num_features),
    ]
)